[submodule "bundle/vim-literate-coffeescript"]
	path = bundle/vim-literate-coffeescript
	url = https://github.com/mintplant/vim-literate-coffeescript.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "colors/kalisi"]
	path = colors/kalisi
	url = https://github.com/freeo/vim-kalisi
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
