[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "colors/kalisi"]
	path = colors/kalisi
	url = https://github.com/freeo/vim-kalisi
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/Kwbd"]
	path = bundle/Kwbd
	url = git@github.com:rgarver/Kwbd.vim.git
[submodule "bundle/youCompleteMe"]
	path = bundle/youCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = git@github.com:xolox/vim-session.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = git@github.com:marijnh/tern_for_vim.git
[submodule "bundle/tern_for_vim_coffee"]
	path = bundle/tern_for_vim_coffee
	url = git@github.com:othree/tern_for_vim_coffee.git
[submodule "additional/slava-tern-meteor"]
	path = additional/slava-tern-meteor
	url = git@github.com:Slava/tern-meteor.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = git@github.com:Shougo/unite.vim.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
[submodule "bundle/vim-mundo"]
	path = bundle/vim-mundo
	url = git@github.com:simnalamburt/vim-mundo.git
